@import url(reset.css);

/*Header*/

#wrapper {
	width: 1024px;
	height: 1800px;
	margin: 0 auto;
}
#topLines {
	height: 18px;
	background-image: url(images/headd.png);
	background-repeat: repeat-x;
}
#header {
	height: 157px;
	position: relative;
}
#logo {
	width: 208px;
	height: 66px;
	background-image: url(images/log.png);
	background-repeat: no-repeat;
	position: absolute;
	left: 55px;
	top: 30px;
}
#logo a {
	display: block;
	height: 66px;
	cursor: pointer;
}
#faq {
	width: 82px;
	height: 164px;
	background-image: url(images/faq.png);
	background-repeat: no-repeat;
	position: absolute;
	right: 43px;
	top: -20px;
}
#faq a {
   display: block;
	height: 164px;
	cursor: pointer; 
}
#nav{
	width: 520px;
	height: 30px;
	position: absolute;
	left: 377px;
	top: 56px;
}
#nav li {
	float: left;
	margin-right: 30px; 
}
#nav li a {
	text-decoration: none;
	font:bold 16px Arial, sans-serif;
	color: #3f3f3f;
}
#nav li a.active {
	color: #2c789c;
}
#nav li a:hover {
	color: #2c789c;
}
/*endHeader*/
/*People*/
#people {
   height: 404px;
   background-image: url(images/fon1.png);
   background-repeat: no-repeat;
   background-position: 74px 53px;
   position: relative;
 }
#peopleImg {
   width: 370px;
   height: 383px;
   background-image: url(images/people.png);
   background-repeat: no-repeat;
   position: absolute;
   right: 55px;
   top: 0px;
   z-index: 5;
} 
#slogan {
	width: 377px;
	height: 80px;
	position: absolute;
    top: 207px;
    right: 640px;
    text-align: right;
    padding-top: 0px;
}
#slogan h1 {
	font: bold 23px Arial, sans-serif;
	color: #1d1b1e;
	text-transform: uppercase;
}
#slogan p {
	font: 16px Arial, sans-serif;
	color: #2E789B;
}
#forLine {
    height: 96px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 1024px;
    background-image: url(images/line.png);
    background-repeat: repeat-y;
    z-index: 3;
}

/*endPeople*/
/*colorsblock*/

#colors {
	height: 147px;
	background-image: url(images/colorsBg.png);
	background-repeat: repeat-y;
	padding: 0 49px 0 42px;
}
#blue {
	width: 306px;
    height: 147px;
    float: left;
    background-color: #2C789C;
    padding-left: 14px;
    padding-right: 14px;
    background-image: url(images/e1.png);
    background-repeat: no-repeat;
    background-position: 255px 1px;

}
#yellow {
	width: 321px;
    height: 147px;
    float: left;
    background-color: #E5B00D;
    padding-left: 30px;
    padding-right: 20px;
    background-image: url(images/e2.png);
    background-repeat: no-repeat;
    background-position: 265px 5px;
}
#green {
	width: 306px;
    height: 147px;
    float: left;
    background-color: #97BA15;
    padding-left: 28px;
    padding-right: 14px;
    background-image: url(images/e3.png);
    background-repeat: no-repeat;
    background-position: 250px 5px;
}
#blue, #yellow, #green {
    color: #FFF;
    padding-top: 13px;
    position: relative;
}
#colors h2 {
	font: bold 19px Arial, sens-serif;
	padding-bottom: 10px;
}
#colors p {
	font: 15px Arial, sens-serif;
	padding-bottom: 10px; 
}
#colors a {
	text-decoration: none;
	color: #989898;
	font: 16px Arial, sans-serif;
	display: block;
	width: 99px;
	height: 26px;
	background-image: url(images/readMore.png);
	background-repeat: no-repeat;
	cursor: pointer;
	padding: 4px 7px;
}
.clear {
	clear: both;
}
#romb1 {
	width: 26px;
	height: 52px;
	position: absolute;
	background-image: url(images/w1.png);
	background-repeat: no-repeat;
	left: 0;
	top: 49px;
}
#romb2 {
	width: 26px;
	height: 52px;
	position: absolute;
	background-image: url(images/w2.png);
	background-repeat: no-repeat;
	left: 0;
	top: 49px;
}
#blue a, #blue p, #yellow a, #yellow p, #green a, #greeen p {
	margin-left: 6px;
}

/*endColor*/
/*blackAndWhite*/

#blackAndWhite {
	height: 272px;
	background-image: url(images/colorsBg.png);
	background-repeat: repeat-y;
	position: relative;
	padding: 17px 55px 30px 55px;
}
#bLeft, #bRight {
	position: absolute;
	width: 42px;
	height: 100px;
}
#bLeft {
	background-image: url(images/bLeft.png);
	background-repeat: no-repeat;
	bottom: 0;
	left: 0;
}
#bRight {
	background-image: url(images/bRight.png);
	background-repeat: no-repeat;
	bottom: 0;
	right: 0;
}
#bBottom {
	background-image: url(images/bBottom.png);
	background-repeat: repeat-x;
	bottom: 0;
	right: 35px;
	width: 956px;
	height: 1px;
	position: absolute;
}

#bContent {
	height: 225px;
	width: 620px;
	float: left;
}
#bForm {
	height: 246px;
	width: 264px;
	float: left;
	margin-left: 30px;
}
#bContent h2, #bForm h2 {
	font: 24px Arial, sans-serif;
	color: #000;
	margin-bottom: 6px;
}
#bContent p.strong {
	color: #1d1e1b;
	font: bold 16px Arial, sans-serif;
	margin-bottom: 20px;
}
#bContent p {
	color: #7b7d78;
	font: 14px Arial, sans-serif;
	margin-bottom: 13px;	
}
#bContent a {
	text-decoration: none;
	color: #989898;
	font: 16px Arial, sans-serif;
	display: block;
	background-image: url(images/readMoreBlack.png);
	background-repeat: no-repeat;
	cursor: pointer;
	padding: 4px 7px;
}
#bForm input {
	width: 262px;
 	height: 31px;
 	margin-bottom: 11px;
 	font: 16px Arial, sans-serif;
 	padding-left: 15px;
}
#bForm input.button {
	width: 99px;
 	height: 26px;
 	border: none;
 	margin: 35px 0 0 -15px;
}
/*endblackAndWhite*/

/*dark*/

#dark {
	height: 430px;
	padding: 13px 30px 14px 41px;
	background-color: #1d1e1b;
}

#planning, #team, #blog {
	height: 403px;
	float: left;
}
#planning, #team {
	width: 289px;
}
#blog {
	width: 297px;
}
#team, #blog {
	margin-left: 39px;
}
#imgDark1 {
	width: 289px;
	height: 117px;
	background-image: url(images/dark1.png);
	background-repeat: no-repeat;
}
#dark h3 {
	height: 25px;
	font: 20px Arial, sans-serif;
	color: #FFF;
	text-transform: uppercase;

}
#planning p, #team p {
	height: 215px;
	font: 12px Arial, sans-serif;
	color: #94998f;
	padding-top: 20px;
	
}
#planning a, #team a {
	text-decoration: none;
	color: #2c789c;
	font: 16px Arial, sans-serif;
	display: block;
	background-image: url(images/readMoreBlue.png);
	background-repeat: no-repeat;
	cursor: pointer;
	padding: 4px 7px;
}
#imgDark2 {
	width: 289px;
	height: 117px;
	background-image: url(images/dark2.png);
	background-repeat: no-repeat;
}
#post1, #post2{
	height: 125px;
}
#post3{
	height: 126px;
}
#blogImg1 {
	width: 111px;
	height: 81px;
	float: left;
	background-image: url(images/dark3.png);
	margin-right: 10px;
}
#blog h4 {
	font: bold 13px Arial, sans-serif;
	color: #FFF;
}
#blog p {
	font: 12px Arial, sans-serif;
	color: #94998f;
}
#blog a {
	font: 12px Arial, sans-serif;
	color: #2C789C;
}
#blogImg2 {
	width: 111px;
	height: 81px;
	float: left;
	background-image: url(images/dark4.png);
	margin-right: 10px;
}
#blogImg3 {
	width: 111px;
	height: 81px;
	float: left;
	background-image: url(images/dark5.png);
	margin-right: 10px;
}
#blog h3 span {
	text-transform: lowercase;
	color: #2C789C; 
	padding-left: 13px;
}
/*enddark*/

#gray {
	background-color: #2e302c;
	padding: 15px 30px 35px 40px;

}
#about {
	width: 300px;
	float: left;
}
#partners {
	width: 628px;
	height: 168px;
	float: left;
	margin-left: 24px;
}
#gray h2 {
	font: 18px Arial, sans-serif;
	color: #FFF;
	text-transform: uppercase;
	margin-bottom: 3px;
}
#gray p {
	font: 12px Arial, sans-serif;
	color: #94998f;
	margin-bottom: 11px;
}
#gray a {
	font: bold 16px Arial, sans-serif;
	color: #2C789C;
	text-decoration: none;
}
.partner {
	float: left;
	width: 275px;
}
.partner li {
	color: #94999f;
	font: 12px Arial, sans-serif;
	margin-bottom: 15px;
	padding-left: 22px;
	background-image: url(images/plus.png);
	background-repeat: no-repeat;
	background-position: 0 2px;
}
#p2 {
	margin-left: 38px;
}
#p1 {
	margin-left: 22px;
}
#footer {
	height: 154px;
	background-color: #131412;
	position: relative;
}
#copy {
	position: absolute;
	top: 81px;
	left: 39px;
}
#copy, #copy a {
	font: 13px Arial, sans-serif;
	color: #9b9d99;
	text-decoration: none;
}
#footernav {
	width: 470px;
	height: 30px;
	position: absolute;
	top: 81px;
	right: 36px;
}
#footernav li {
	float: right;
	margin-left: 23px; 
}
#footernav li a {
	text-decoration: none;
	font: 13px Arial, sans-serif;
	color: #94998f;
}
#footernav li a.active, #footernav li a:hover{
	color: #2c789c;
}
#footerSocial {
	
	height: 22px;
	position: absolute;
	top: 111px;
	right: 36px;
}
#footerSocial li {
	float: right;
	margin-left: 5px;
	height: 22px; 
	background-repeat: no-repeat;
}
#s1 {
	width: 26px;
	background-image: url(images/s1.png);
}
#s2 {
	width: 31px;
	background-image: url(images/s2.png);
}
#s3 {
	width: 26px;
	background-image: url(images/s3.png);
}
#s4 {
	width: 64px;
	background-image: url(images/s4.png);
	margin-top: 7px;
}
#footerSocial li a {
	height: 22px;
	display: block;
	cursor: pointer;
}
